*{
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Courier, monospace, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

.container{
    width: 100%;
    max-height: 400px;
    /* padding-left: 8%;
    padding-right: 8%; */
    box-sizing: border-box;
    overflow: hidden;
}

.wrapper{
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}

header{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}

.background, .layer1, .layer2, .layer3{
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.background{
  transform: translateZ(-50px)scale(6);
}

.layer1{
  transform:translateZ(-25px)scale(4);
}

.layer2{
  transform: translateZ(-10px)scale(3);
}
.layer2half{
  transform: translateZ(-6px)scale(1.75);
}

.introbot{
  position: static;
  height: 90vw;
  margin-top: -5px;
  background-color: #142E0F;
  font-size: 2vw;
  color: white;
  align-content: center;
}

.introbot-text{
  position: absolute;
  text-align: center;
  width: 80%;
  margin-top: 10%;
  margin-left: 10%;
}

.navigation{
  position: absolute;
  width: 100%;
  height: 50%;
  
  margin-top: 30%;
  
  justify-content: space-evenly;
  background-color: blue;
  
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  
}

/* Button Section */

button{
  border-radius: 100px;
  border-color: transparent;
}

.PollutionButton {
  position: relative;
	background:linear-gradient(to bottom,#b94400 5%, #745007 100%);
	/* display:inline-block; */
	cursor:pointer;
	color:#ffffff;
	font-size:50px;
	padding:20px 100px;
  margin: 20px 20px;
  width: 50%;
  flex-basis: calc(50% - 40px);
  display: flex; 
  justify-content: center;
  flex-direction: column;
}

.Button:hover {
	background-color:#5cbf2a;
}
.Button:active {
	position:relative;
	top:1px;
}

/* 

.PollutionButton{
  background-color: orange;
} */

/* pollution section */

.pollution{
  background-image: linear-gradient(180deg, #142E0F, darkgreen);
  position: absolute;
  height: 100vh;
  display: flex;
  width: 100%;
  
}

.PollutionMargins{
  
  width: 100%;
  /* height: 100%; */
  background-color: black;
  /* flex-wrap: wrap; */
  display: table;
}

.pollutionTitle{
  display: flex;
  width: 100%;
  height: 15%;
  background-color: blue;
}

.PollutionLeft{
  margin: 10px;
  position: absolute;
  width: 50%;
  background-color: aqua;
  left: 0;
}

.PollutionRight{
  margin: 10px;
  position: absolute;
  width: 50%;
  background-color: #745007;
  right: 0;
}

.PollutionButtonSection{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
	padding:50px 100px;
  margin: 20px 20px;
  height: 20%;
}

.PollutionButtonSection > button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 50px;
  justify-content: center;
	padding: 20px;
  margin-bottom: 10px;
  
}