.introbot{
position: static;
height: 90vw;
margin-top: -5px;
background-color: #142E0F;
font-size: 2vw;
color: white;
align-content: center;
}

.introbot-text{
position: absolute;
text-align: center;
width: 80%;
margin-top: 10%;
margin-left: 10%;
}

.introbot-text2{

  position: absolute;
  text-align: center;
  width: 80%;
  margin-top: 25%;
  margin-left: 10%;
  
  }

.navigation{
  position: absolute;
  width: 100%;
  height: 50%;

  margin-top: 30%;

  justify-content: space-evenly;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

}

*{
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Courier, monospace, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

.container{
    width: 100%;
    max-height: 400px;
    /* padding-left: 8%;
    padding-right: 8%; */
    box-sizing: border-box;
    overflow: hidden;
}

.wrapper{
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}

header{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}

.background, .layer1, .layer2, .layer3{
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.background{
  transform: translateZ(-50px)scale(6);
}

.layer1{
  transform:translateZ(-25px)scale(4);
}

.layer2{
  transform: translateZ(-10px)scale(3);
}
.layer2half{
  transform: translateZ(-6px)scale(1.75);
}

/* Button Section */

button{
  border-radius: 100px;
  border-color: transparent;
}

.PollutionButton {
  position: relative;
	background:linear-gradient(to bottom,#b94400 5%, #745007 100%);
	/* display:inline-block; */
	cursor:pointer;
	color:#ffffff;
	font-size:50px;
	padding:20px 100px;
  margin: 20px 20px;
  width: 50%;
  flex-basis: calc(50% - 40px);
  display: flex; 
  justify-content: center;
  flex-direction: column;
}

.Button:hover {
	background-color:#5cbf2a;
}
.Button:active {
	position:relative;
	top:1px;
}

/* 

.PollutionButton{
  background-color: orange;
} */

/* pollution section */

.pollution{
  background-image: linear-gradient(180deg, #8D8C8C, #a29398);
  /* background-color: ; */
  height: 120vh;
  display: flex;
  width: 100%;
}

.PollutionMargins{
  
  width: 100%;
  /* height: 100%; */
  /* background-color: black; */
  /* flex-wrap: wrap; */
  display: table;
}

.PollutionTitle{
  display: flex;
  width: 100%;
  font-size: 50px;
  justify-content: center;
  color: white;
  margin-bottom: 50px;
}

.PollutionLeft{
  padding: 10px;
  position: absolute;
  width: 35%;
  left: 0;
}

.PollutionRight{
  position: absolute;
  width: 65%;
  margin-right: 25px;
  padding-bottom: 46vh;
  border-radius: 50px;
  background-color: #142E0F;
  right: 0;
  color: white;
  justify-content: center;
  box-shadow: 5px 5px 5px black;
}

.PollutionButtonSection{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
	padding:50px 100px;
  
  
}

.PollutionButtonSection > button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 50px;
  justify-content: center;
	padding: 19px;
  margin-bottom: 10px;
  background-color: #A0C984;
  cursor:pointer;
  text-align: center;
  transition: 0.3s;
}

.PollutionButtonSection > button:focus{
  background-color: #142E0F;
  color: white;
}

.PollutionButtonSection > button:hover{
  background-color: #0C5101;
  scale: 1.1;
  transition: 0.3s;
  box-shadow: 5px 5px 5px black;
}

.info-box{
  top: 50px;
  margin-left: 50px;
  font-size: 50px;
  text-align: left;
}

#pollu{
  display: block;
}

#air, #water, #soil, #noise{
  display: none;
}

.climatechange{
  background-image: linear-gradient(180deg, #C6AC97 35%, #FFE4C4);
height: 130vh;
justify-content: center;
align-items: center;
text-align: center;
}
.climate1{
  display: flex;
  list-style-type: none;
  margin-left: 10px;
  padding: 35px;
}
.climate2{
  display: flex;
  list-style-type: none;
  margin-left: 10px;
  padding: 35px;
}
.climatechange h2{
  font-size: 100px;
}
.climate2 img{
  position: relative;
  scale: 200%;
  margin-left: 40px;
  padding-top: 70px;
  margin-right: 20px;
  padding-right: 20px;
  padding-left: 30px;
}
.climate2 p{
  margin-left: 5px;
  padding-left: 30px;
  padding-right: 20px;
  text-align: justify;
  font-size: 55px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.climate1 img{
  position: relative;
  scale: 200%;
  margin-left: 25px;
  padding-top: 70px;
  margin-right: 20px;
  padding-right: 30px;
  padding-left: 20px;
}
.climate1 p{
  margin-left: 20px;
  padding-left: 20px;
  text-align: justify;
  font-size: 55px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
/* .climatechange p{
  font-size: 30px;
} */

.overpopulation{
background-color: green;
background-image: linear-gradient(180deg, #3F64B0 35%, #7AA3FF);
height: 230vh;
}

.deforestation{
background-color: #7f5a1a;
height: 1080px;
}

/* Overpopulation */

.OverpopulationTitle h1{
  font-size: 84px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.overpopulation{
  padding-top: 50px;
}

.OverpopulationPercentage{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.OverpopulationPercentage img{
  width: 350px;
  height: 350px;
  transition: 1s;
}

.OverpopulationPercentage img:hover{
  transform: rotate(-30deg);
  scale: 1.1;
  filter: grayscale(100%);
}

.OverpopulationPercentage h1{
  font-size: 126px;
  color: #ff0000;
}

.OverpopulationPercentage h3{
  font-size: 30px;
}

.OverpopulationPercentage h4{
font-size: 30px;
}

.PercentageText{
  padding-left: 30px;
}

.OverpopulationText{
  margin-left: 200px;
  margin-right: 200px;
  padding-top: 50px;
}

.OverpopulationText p{
  font-size: 30px;
  text-align: center;
}

#OverpopulationSecondText{
  padding-left: 0px;
  padding-right: 30px;
  text-align: right;
}

#OverpopulationSecondImage img{
  width: 620px;
  height: 300px;
  transition: 1s;
}

#OverpopulationSecondImage img:hover{
  scale: 0.95;
  filter: grayscale(100%);
  transform: rotate(0deg);
}

#OverpopulationThirdImage img{
  width: 250px;
  height: 250px;
  transition: 1s;
}

#OverpopulationThirdImage img:hover{
  height: 350px;
  width: 300px;
  filter: grayscale(0%);
  transform: rotate(0deg);
}

.Tr1{
  position: absolute;
  margin-top: 77.3%;
}
.Tr2{
  position: absolute;
  margin-top: 50%;
}

.Tr3{
  position: absolute;
  margin-top: 55%;
}

.Tr4{
  position: absolute;
  margin-top: 27.6%;
  /* scale: 0.5; */
}